.logo {
  position: absolute;
  top: 50%;auto;
  left: 50%;
  margin-top: -65px;
  margin-left: -168px;
}

.logo-wrapper {
  width: 110px;
  display: inline-block;
}

.logo-wrapper img {
  height: 150px;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: -2px;
}

.name-wrapper {
  display: inline-block;
  color: #424242;
}

.name-wrapper .heading {
  -webkit-animation: text-fade 1.8s;
}

.name-wrapper .tagline {
  font-family: Montserrat;
  font-weight: 100;
  -webkit-animation: text-fade 3.0s;
}

.name-wrapper h1 {
  font-family: Montserrat;
  font-weight: lighter;
}

.enter-wrapper {
  display:inline-block;
}

.enter-wrapper button {
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #01BDC1;
  background-color: #FFF;
  width: 115px;
  height: 42px;
  border: solid thin #01BDC1;
  margin-top: 25px;
  margin-left: 75px;
  -webkit-animation: text-fade 4.8s;
}

.enter-wrapper button:hover {
  background-color: #01BDC1;
  color: #FFF;
  transition: .5s;
  cursor: pointer;
}


/* webkit animations */
@-webkit-keyframes logo-drop {
  0% { margin-top: -300px; -webkit-transform: rotate(45deg); }
  20% { margin-top: 0; -webkit-transform: rotate(45deg); }
  22% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  25% { margin-top: -1px; -webkit-transform: rotate(45deg); }
  28% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  31% { margin-top: 0; -webkit-transform: rotate(45deg); }
  70% { margin-top: 0; -webkit-transform: rotate(45deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes logo-drop {
  0% { margin-top: -300px; -webkit-transform: rotate(45deg); }
  20% { margin-top: 0; -webkit-transform: rotate(45deg); }
  22% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  25% { margin-top: 0; -webkit-transform: rotate(45deg); }
  28% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  31% { margin-top: 0; -webkit-transform: rotate(45deg); }
  70% { margin-top: 0; -webkit-transform: rotate(45deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-o-keyframes logo-drop {
  0% { margin-top: -300px; -webkit-transform: rotate(45deg); }
  20% { margin-top: 0; -webkit-transform: rotate(45deg); }
  22% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  25% { margin-top: 0; -webkit-transform: rotate(45deg); }
  28% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  31% { margin-top: 0; -webkit-transform: rotate(45deg); }
  70% { margin-top: 0; -webkit-transform: rotate(45deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes logo-drop {
  0% { margin-top: -300px; -webkit-transform: rotate(45deg); }
  20% { margin-top: 0; -webkit-transform: rotate(45deg); }
  22% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  25% { margin-top: 0; -webkit-transform: rotate(45deg); }
  28% { margin-top: 3px; -webkit-transform: rotate(45deg); }
  31% { margin-top: 0; -webkit-transform: rotate(45deg); }
  70% { margin-top: 0; -webkit-transform: rotate(45deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes text-fade {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes text-fade {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes text-fade {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes text-fade {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
